# ----------------------
# Flask
# ----------------------
flask
flask_socketio
flask_sqlalchemy

# ----------------------
# Social Propagation
# ----------------------
tweepy
facebook-sdk

# ----------------------
# Database
# ----------------------
MySQL-python

# ----------------------
# Testing
# ----------------------
# mock

# ----------------------
# Production Server
# ----------------------
gunicorn
eventlet
