<!DOCTYPE html>
<html>
  <head>
    <title>Live map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- FONTS -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    <!-- Material design Lite + Colorscheme(Indigo,Pink) -->
    <!-- https://getmdl.io/started/index.html -->

    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    
    <!-- JAVASCRIPT -->

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename = 'js/lib/socket.io-1.4.5.js') }}"></script>
    
    <script type="text/javascript" src="{{ url_for('static',filename='js/mapHelper.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/sockets.js') }}"></script>
    
    {% if prod %}
      {% include "template_google_analytics.html" %}
    {% endif %}

    <script>

    var balloonData = {{balloon_data|tojson}};
    console.log("Debug Values:");
    console.log(balloonData);


    // http://stackoverflow.com/a/31003742
    var params = window.location.search.substring(1).split("&").map(v => v.split("=")).reduce((map, [key, value]) => map.set(key, decodeURIComponent(value)), new Map());
    var flightNumber;
    if( params.get("flight") == null ) {
      flightNumber = 42;
    } else {
      flightNumber = params.get("flight");
    }

    var icons = {
      balloon: "{{ url_for('static',filename='img/airballoon.png') }}",
      burst: "{{ url_for('static',filename='img/explosion.png') }}",
      start: "{{ url_for('static',filename='img/launched-rocket.png') }}",
      //TO DO : add icon for landing 
      land: "{{ url_for('static',filename='img/landingPredicted.png') }}",
      landingPredicted: "{{ url_for('static',filename='img/landing-predicted.png') }}"
    }

    var map;
    
    var path;
    var pathPredicted;
    
    var startPosition;
    var startMarker;
    
    var balloonPosition;
    var balloonMarker;
    
    var burstPosition;
    var burstMarker;

    var landingPosition;
    var landingMarker;

    var landingPredictedPosition;
    var landingPredictedMarker;

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 48.847665, lng: 19.518096},
          zoom: 8,
           mapTypeControl: true,
          mapTypeControlOptions: {
              style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
              position: google.maps.ControlPosition.LEFT_BOTTOM
          },
          zoomControl: true,
          zoomControlOptions: {
            position: google.maps.ControlPosition.LEFT_BOTTOM
          },
          streetViewControl: false,
          scaleControl: false,
          scaleControlOptions: {
            position: google.maps.ControlPosition.LEFT_BOTTOM
          }
        });

        balloonMarker = new google.maps.Marker({
          icon: icons.balloon,
          map: map
        })

        burstMarker = new google.maps.Marker({
          icon: icons.burst,
          map: map
        })
        
        startMarker = new google.maps.Marker({
          icon: icons.start,
          map: map
        })
        //TODO Change
        landingMarker = new google.maps.Marker({
          icon: icons.landingPredicted,
          map: map
        })

        landingPredictedMarker = new google.maps.Marker({
          icon: icons.landingPredicted,
          map: map
        })

        path = new google.maps.Polyline({
          geodesic: true,
          strokeColor: '#FF0000',
          strokeOpacity: 1.0,
          strokeWeight: 2
        })

        pathPredicted = new google.maps.Polyline({
          geodesic: true,
          strokeColor: '#0000FF',
          strokeOpacity: 1.0,
          strokeWeight: 2
        })
        
        if( "location" in balloonData ) {
          balloonPosition = setMarkerPosition(balloonPosition,balloonMarker,balloonData.location.point,null);
        }

        if( "burst" in balloonData ) {
          burstPosition = setMarkerPosition(burstPosition,burstMarker,balloonData.burst.point,null);
        }

        if( "start" in balloonData ) {
          startPosition = setMarkerPosition(startPosition,startMarker,balloonData.start.point,null);
        }

        if( "landing" in balloonData ) {
          landingPosition = setMarkerPosition(landingPosition,landingMarker,balloonData.landing.point,null);
        }

        if( "landingPredicted" in balloonData ) {
          landingPredictedPosition = setMarkerPosition(landingPredictedPosition,landingPredictedMarker,balloonData.landingPredicted.point,null);
        }

        path.setMap(map);

        pathPredicted.setMap(map);

        if( "path" in balloonData ) {
          setPath(path,balloonData.path.data.points,"new");
        }

        if( "predictedPath" in balloonData ) {
          setPath(pathPredicted,balloonData.predictedPath.data.points,"new");
        }
      }

    $(document).ready(function () {
      // var socketURL = 'http://' + document.domain + ':' + location.port + "balon/map";
      var socketURL = location.origin + "/map";
      console.log("connect to : " + socketURL);
      /*
      io.configure(function () {
        io.set('match origin protocol', true);
      });
      */
      var socket = io.connect(socketURL);

      socket.on('connect', function() {
        console.log("[Socket]: Connected");
        // socket.emit('my_event');
        socket.emit('join', {flight:flightNumber});
      });
      
      socket.on('message', function(data) {
        console.log("[Server]: " + data.data);
      });

      socket.on('balloon_update', function(data) {

          console.log("[Server]: ", data);
          
          var message = data;

          console.log("JSON message: ", message);

          console.log("Message type: ", message.type);
          switch(message.type) {
            case "balloonEvent":
              console.log("Event: ", message.data.type);
              handleBalloonEvent(message);
              break;
            case "balloonPath":
              console.log("Path: ", message.data.type);
              handlePathUpdate(message);
              lastPosition = message.data.points[message.data.points.length-1];
              updateParameterPosition(lastPosition);
              break;
            case "balloonTelemetry":
              console.log("Telemetry");
              handleTelemetryUpdate(message);
              break;
          }
      });


      if ( "location" in balloonData ) {
        updateParameterPosition(balloonData.location.point);
      }
    })

    </script>

  </head>
  <body>
  <div id="mapWrapper">
    <div id="map"><!-- Here comes the map --></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCty_vzd_RYvE-x6_UdRx8Zl8owLlWh3ng&callback=initMap"
    async defer></script>
  </div>
  <div id="leftSidePanelWrapper">
    <div class="telemetry-bar-altitude mdl-shadow--2dp">
      <div class="telemetry-bar-container">
        <div class="progress" data-maxAlt="40000">
          <div class="progress-bar bar-ground" style="height: 6%"></div>
          <div class="progress-bar bar-altitude" style="height: 50%"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="sidePanelWrapper">
    <div class="telemetry-card-flightPicker telemetry-card  mdl-card mdl-shadow--2dp ">
      <div class="md1-card__supporting-text">
      <label style="font-size:24px">Let:</label>
        <select id="flightPicker" onchange="self.location=self.location.origin+self.location.pathname+'?flight='+this.selectedOptions[0].value">
          {% for flight in balloon_data.flightList %}
            {% if flight.number|string() == request.args.get('flight')|string() %}
              <option value="{{ flight.number }}" selected>{{ flight.number }}</option>
            {% else %}
              <option value="{{ flight.number }}">{{ flight.number }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="telemetry-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 id="telemetry-balloon-name">FIIT Sonda</h2>
      </div>
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Status: <b style="margin: 0 5px"><span id="telemetry-balloon-status">N/A</span></b></h2>
      </div>
    </div>

    <div class="telemetry-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Aktuálna pozícia:</h2>
      </div>
      <div class="md1-card__supporting-text">
        <p class="telemetry-parameter position">- W, - N</p>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <p class="telemetry-parameter position time"></p>
      </div>
    </div>

    <div class="telemetry-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Výška:</h2>
      </div>
      <div class="md1-card__supporting-text">
        {% if balloon_data.telemetry and balloon_data.telemetry.data.parameters.altitude %}
          <p class="telemetry-parameter altitude">{{ balloon_data.telemetry.data.parameters.altitude.value }} m</p>
        {% else %}
          <p class="telemetry-parameter altitude">- m</p>
        {% endif %}
      </div>
      <div class="mdl-card__actions mdl-card--border">
        {% if balloon_data.telemetry and balloon_data.telemetry.data.parameters.altitude %}
          <p class="telemetry-parameter altitude time">{{ balloon_data.telemetry.data.parameters.altitude.time | from_timestamp }}</p>
        {% else %}
          <p class="telemetry-parameter altitude time"></p>
        {% endif %}
      </div>
    </div>

    <div class="telemetry-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Teplota:</h2>
      </div>
      <div class="md1-card__supporting-text">
        {% if balloon_data.telemetry and balloon_data.telemetry.data.parameters.temperature %}
          <p class="telemetry-parameter temperature">{{ balloon_data.telemetry.data.parameters.temperature.value }} °C</p>
        {% else %}
          <p class="telemetry-parameter temperature">- °C</p>
        {% endif %}
      </div>
      <div class="mdl-card__actions mdl-card--border">
        {% if balloon_data.telemetry and balloon_data.telemetry.data.parameters.temperature %}
          <p class="telemetry-parameter temperature time">
            <script type="text/javascript">
              document.write(formatDateTimeUTC({{ balloon_data.telemetry.data.parameters.temperature.time}}));
            </script>
            </p>
        {% else %}
          <p class="telemetry-parameter temperature time"></p>
        {% endif %}
      </div>
    </div>

    <div class="telemetry-card mdl-card mdl-shadow--2dp" style="display:none">
      <div class="mdl-card__title">
        <h4>Facebook Feed</h4>
      </div>
    </div>
  </div>
    
  </body>
</html
