<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flights</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/flights.css') }}">
</head>
<body>
	<div id="flight_wrapper">

		<form id="flights_add" method="post" action="/admin/flight/add">
			Flight Number:<br>
			<input type="text" name="flightNumber"><br>
			Start Date:<br>
			<input type="datetime-local" name="flightStartDate"><br>
			<input type="submit" name="Save">
		</form>

		{% if flights %}
			<table id="flights_table">
				<tr>
					<td>ID</td>
					<td>#</td>
					<td>Hash</td>
					<td>Start date</td>
					<td>Delete</td>
				</tr>
			{% for flight in flights %}
				<tr>
					<td>{{ flight.id }}</td>
					<td><a href="/admin/flight/{{flight.id}}/detail">{{ flight.number }}</a></td>
					<td>{{ flight.hash }}</td>
					<td>{{ flight.start_date|datetime }}</td>
					<td><a href="/admin/flight/{{flight.id}}/delete">X</a></td>
				</tr>
			{% endfor %}
			</table>
		{% else %}
			<h3>No Flights.</h3>
		{% endif %}
	</div>
</body>
</html>