/* General */

#flight_wrapper {
	width: 50%;
	margin: 0 auto;
}
/* For show_flight_detail.html */
#flight_detail {
	margin: 50px 0;
	border-bottom: 1px solid #ccc;
}

#flight_parameters table:nth-child(2){
	background-color: #eee;
}

/* For show_flights.html */
#flights_table {
	width: 100%;
}

#flights_table:nth-child(2) {
	background-color: #eee
}

#flights_add {
	margin: 50px auto
}